src/main/resources/xml/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="username" type="xs:string" />
              <xs:element name="password" type="xs:string" />
              <xs:element name="group" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

<!--
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="username" type="xs:string"/>
	<xs:element name="password" type="xs:string"/>
	<xs:element name="group" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>

	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="username"/>
				<xs:element ref="password"/>
				<xs:element ref="group"/>
				<xs:element ref="email"/>
			</xs:sequence>
			<xs:attribute type="xs:positiveInteger" name="id" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
-->